.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 10px;
  border: 1px solid cadetblue;
  border-radius: 5px;
}

.itemList {
  padding: 10px 0;
  color: #f3f3f3;
  width: auto;
  font-size: 24px;
  transition: color .4s;
}

.itemList:hover {
  color: #09F;
}

.emptyState {
  padding: 20px;
}