.input {
  width: 50%;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
  border: 2px solid;
}

.input:focus-visible {
  outline: none;
}

.form {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
} 