.todoItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.imageContainer img {
  filter: invert(100%);
  transition: filter .2s;
}

.imageContainer img:hover {
  filter: invert(22%) sepia(44%) saturate(4723%) hue-rotate(341deg) brightness(110%) contrast(81%);
}